body {
    padding: 0;
    margin: 0;
}
.container{
    padding: 20px;
    /* position: relative;
    top: 50%;
    left: 50%;
    bring your own prefixes */
    
}
#my-canvas {
    background-color: rgba(155,155,155,0.2);
    box-shadow: 1px 1px 1px;
    display: block;
    margin: 0 auto;


}
.icon {
    position: relative;
    display: flex;
    font-size: 4em;
    float: right;
    width: 100px;
    top: 15px;
    transition: color .5s;
    justify-content: center;
}
.icon:hover {
    color: orange;
    cursor: pointer;
}

.icon.selected {
    color: yellow;
}

#settings {
    position: static;
    display: flex;
    font-size: 1.5em;
    float: right;
    flex-direction: column;
    top: 15px;
    left: 15px;
    transition: color .5s;
    padding: 2em;
}

#brushSize {
    width: 100px;
}

.text {
    margin: 0;
}

.navbar {
    height: 100px;
    background-color: rgba(50, 100, 200, 0.5);
    border-bottom: solid 6px rgba(50, 100, 200, 1);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.undoRedo {
    position: relative;
    display: inline-block;
    font-size: 2em;
    float: left;
    width: 100px;
    top: 15px;
    left: 15px;
    transition: color .5s;
}

.undoRedo:hover {
    color: orange;
    cursor: pointer;
}

#clearSave {
    transform: rotate(45deg);
}

#line {
    transform: rotate(-45deg);
    margin: 0;
    padding: 0;
    width: 18px;
    height: 170px;
}

#lineDiv {
    height: 70px;
    width: 60px;
}